.navbarstyle{
    background-color:rgb(0, 0, 0);
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    width:100%;
   
}
.navbarsize{
    text-align:right;
    margin-left:auto;
    
}

#namebar{
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    color: white;
}
.homebg{
    background-color: white;
    background-size:cover;
    height:100vh;
    width:100%;
}
.spanelement{
   color:red;
   font-size:30px;
  
}
h5{
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    color:black;
    text-align:center;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    color: red;
    text-align:center;
    
}

h3{
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    color:black;
    text-align:center;
    margin-bottom:10px;
   
}
.buttondiv{
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    color: white;
    margin:5px;
    text-align:center;
}
.linkdiv{
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    color: white;
    margin:5px;
    text-align:center;
}
.infodvi{
 margin-top:100px; 
 padding:15px;
 
}
.imagesize{
     
   height:430px;
   width:300px;
    margin-top:50px;
    border-radius:300px;
}
.imagesize1{
    text-align:center;
    
}

.cardtask{
    border: 2px solid rgb(125, 125, 125);
    background-color:rgb(255, 255, 255);
    border-radius:25PX;
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    color: white;
    text-align:center;
    margin-right:100px;
    margin-top:50px;
    

}
.imagesizefor{
 width:100%;
 margin-top:25px;
 border-radius:25px;
}
.subheading{
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    color: rgb(187, 187, 187);
    text-align:center;
    margin-top:30px;
}
.mainheading{
         font-family:'Times New Roman', Times, serif;
        font-size:50px;
        color: white;
        text-align:center;
        font-weight:bold;
        
    
}
.githubbtn{
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    color:white;
    text-align:center;
    font-weight:bold;
    background-color:rgb(255, 250, 250);
    border-radius:30px;
    margin:10px;
   
}
.aaa{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    color:black;
    padding:25px;

}
.demobtn{
    font-family:'Times New Roman', Times, serif;
    font-size:10px;
    color:white;
    text-align:center;
    font-weight:bold;
    background-color:rgb(255, 250, 250);
    border-radius:25px;
    margin:10px;
 
    
}
.taskheading{
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    color:black;
    text-align:center;
    font-weight:bold;
    margin-top:30px;
}
.demobtns{
    font-family:'Times New Roman', Times, serif;
    
    color:black;
    text-align:center;
    font-weight:bold;
    background-color:#5cc6ff;
    border-radius:25px;
    margin:10px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    padding:15px;
    text-decoration:none;
    border:none;

}
.demobtnslink{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    color:black;
    padding:25px;
    text-decoration:none;
    border:none;


}
.sizefont{
    font-size:35px;
    margin-top:0px;
    margin-right:15px;
    color:black;
    
}
.sizefont1{
    font-size:35px;
    margin-top:0px;
    margin-right:15px;
    color: #0077b5;
    
}
p{
    font-family:'Times New Roman', Times, serif;
   color:white;
    font-weight:bold;
    font-size:18px;
    
}
.pernalinfo{
    font-family:'Times New Roman', Times, serif;
    color: yellow;
    font-weight:bold;
    font-size:25px;
    
    

}
.pernalinfolast{
    font-family:'Times New Roman', Times, serif;
    color: yellow;
    font-weight:bold;
    font-size:25px;
    

}

.homebg1{
    background-color:#13131a;
    background-size:cover;
    width:100%;
}

.homebg2{
    background-color:#13131a;
    background-size:cover;
    width:100%;
}
.functionpara{
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 63, 63);
    font-weight:bold;
    font-size:18px;
    
}
.keysvalue{
    font-family:'Times New Roman', Times, serif;
 
    color:rgb(53, 225, 10);;
    font-weight:bold;
    font-size:18px;
}
.bracer{
    font-family:'Times New Roman', Times, serif;
    color: yellow;
    font-weight:bold;
    font-size:20px;

}
.bract{
    font-family:'Times New Roman', Times, serif;
    color:white;
    font-weight:bold;
    font-size:20px;
}
.returen{
    font-family:'Times New Roman', Times, serif;
    color:rgb(240, 38, 240);
    font-weight:bold;
    font-size:20px;
}
.dot{
    font-family:'Times New Roman', Times, serif;
    color:yellow;
    font-weight:bold;
    font-size:20px;
    margin:10px;
}


.card2{
    border: 2px solid rgb(125, 125, 125);
    width:100%;
    border-radius:25PX;
    margin-top:50PX;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    text-align:center;
    line-height:35px ;
    
}
.aboutmeheading{
    font-family:'Times New Roman', Times, serif;
    font-size:42px;
    margin-top:15px;
    color:white;
    
}
.paragrhabout{
    color:rgb(243, 243, 243);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    padding:10px;
}
.aboutmesubheading{
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    margin-top:120px;
    color:rgb(178, 178, 178);
    
}
.card3{
  
    border: 2px solid rgb(125, 125, 125);
    border-radius:25PX;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    text-align:center;
    padding:25px;
}
.homebg4{
    background-color:#13131a;
    background-size:cover;
    height:100vh;
    width:100%;
    text-align:center;
    display:flex;
    direction:column;
    align-items:center;
    justify-content:center;
    
}
.sizefont2{
    font-size:35px;
    margin-top:0px;
    margin-right:15px;
    color:red;
padding-top:25px;
}
.aboutmeheading1{
    font-family:'Times New Roman', Times, serif;
    font-size:42px;
    margin-top:15px;
    color:white;
    margin-bottom:40px;
    
}
.aboutmesubheading1{
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    color:rgb(178, 178, 178);
    margin-top:50px;
}
.sizefont3{
    font-size:25px;
    color:red;
    padding-top:0px;
}

.homebg5{
    background-color:#13131a;
    background-size:cover;
    width:100%;
    text-align:center;
    
}
.imagesizeforcertgicate{
   width:100%;
    
}
.fullstack{
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    color: white;
    text-align:center;
    margin-top:120px;
    margin-bottom:20px;
}
.centerbox{
    text-align:center;
    margin-right:110px;
}